# Виртуальные окружения
venv/
admin_panel/venv/
bot/venv/

# Файлы с секретными данными
.env

# Логи
*.log

# Базы данных
*.sqlite3

# Файлы зависимостей
__pycache__/
*.py[cod]

# Системные файлы
.DS_Store
